<html>
    <title>

    </title>
    <head>

    </head>
    <body>

        <h1> {{template_title}}</h1>
        <form method='POST' action=''>
           {{form.as_p}}     
            <!---
            <input type="text" name="t1">
            <br>
            <input type="text" name="t1">
            <br>
            <input type="text" name="t1">
            <br>
            <input type="text" name="t1">
            <br>
           -->
            <input type="submit" value="valid"> 
        </form>
    </body>
</html>