<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>METAL</th>
      <th>PAPER</th>
      <th>PLAS</th>
      <th>GLASS</th>
      <th>FOOD</th>
      <th>YARD</th>
      <th>TEXT</th>
      <th>OTHER</th>
      <th>TOTAL</th>
    </tr>
    <tr>
      <th>HHSIZE</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>0.007927</td>
      <td>0.004123</td>
      <td>0.002279</td>
      <td>0.003697</td>
      <td>0.003483</td>
      <td>0.003924</td>
      <td>0.001160</td>
      <td>0.024553</td>
      <td>0.006324</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.007564</td>
      <td>0.012950</td>
      <td>0.011902</td>
      <td>0.014873</td>
      <td>0.012325</td>
      <td>0.000000</td>
      <td>0.010668</td>
      <td>0.012329</td>
      <td>0.011731</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.018691</td>
      <td>0.016338</td>
      <td>0.018486</td>
      <td>0.019430</td>
      <td>0.014836</td>
      <td>0.002478</td>
      <td>0.011596</td>
      <td>0.018968</td>
      <td>0.016221</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.021964</td>
      <td>0.015089</td>
      <td>0.023888</td>
      <td>0.021149</td>
      <td>0.009980</td>
      <td>0.006505</td>
      <td>0.052412</td>
      <td>0.066653</td>
      <td>0.022398</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.010909</td>
      <td>0.014918</td>
      <td>0.018486</td>
      <td>0.027125</td>
      <td>0.021099</td>
      <td>0.001549</td>
      <td>0.012755</td>
      <td>0.011486</td>
      <td>0.016397</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.015273</td>
      <td>0.011907</td>
      <td>0.015278</td>
      <td>0.010704</td>
      <td>0.004890</td>
      <td>0.047290</td>
      <td>0.008349</td>
      <td>0.011276</td>
      <td>0.012871</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.014036</td>
      <td>0.011684</td>
      <td>0.007175</td>
      <td>0.002192</td>
      <td>0.029539</td>
      <td>0.000723</td>
      <td>0.013915</td>
      <td>0.011697</td>
      <td>0.012830</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.025964</td>
      <td>0.019537</td>
      <td>0.025745</td>
      <td>0.024975</td>
      <td>0.032218</td>
      <td>0.049148</td>
      <td>0.004870</td>
      <td>0.057063</td>
      <td>0.028957</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.016873</td>
      <td>0.027509</td>
      <td>0.028868</td>
      <td>0.008425</td>
      <td>0.014769</td>
      <td>0.001342</td>
      <td>0.018785</td>
      <td>0.021814</td>
      <td>0.019553</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.013745</td>
      <td>0.010915</td>
      <td>0.017726</td>
      <td>0.075958</td>
      <td>0.009143</td>
      <td>0.039855</td>
      <td>0.015306</td>
      <td>0.001317</td>
      <td>0.020888</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.023709</td>
      <td>0.022325</td>
      <td>0.024732</td>
      <td>0.013799</td>
      <td>0.031180</td>
      <td>0.007228</td>
      <td>0.008581</td>
      <td>0.061173</td>
      <td>0.026118</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.029018</td>
      <td>0.019434</td>
      <td>0.020596</td>
      <td>0.021235</td>
      <td>0.012023</td>
      <td>0.138875</td>
      <td>0.098562</td>
      <td>0.006059</td>
      <td>0.026547</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.014836</td>
      <td>0.025815</td>
      <td>0.018317</td>
      <td>0.013326</td>
      <td>0.017951</td>
      <td>0.007641</td>
      <td>0.009740</td>
      <td>0.021866</td>
      <td>0.019436</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.007200</td>
      <td>0.004790</td>
      <td>0.011902</td>
      <td>0.005975</td>
      <td>0.004923</td>
      <td>0.008467</td>
      <td>0.010204</td>
      <td>0.005427</td>
      <td>0.006083</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.021527</td>
      <td>0.011017</td>
      <td>0.016882</td>
      <td>0.022396</td>
      <td>0.023644</td>
      <td>0.063397</td>
      <td>0.004638</td>
      <td>0.076031</td>
      <td>0.026118</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.010909</td>
      <td>0.010025</td>
      <td>0.007850</td>
      <td>0.008726</td>
      <td>0.008440</td>
      <td>0.014146</td>
      <td>0.006262</td>
      <td>0.050846</td>
      <td>0.014182</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.017673</td>
      <td>0.018955</td>
      <td>0.025070</td>
      <td>0.007480</td>
      <td>0.005861</td>
      <td>0.151781</td>
      <td>0.009045</td>
      <td>0.013383</td>
      <td>0.022098</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.021600</td>
      <td>0.021265</td>
      <td>0.017220</td>
      <td>0.017152</td>
      <td>0.018889</td>
      <td>0.002272</td>
      <td>0.057282</td>
      <td>0.048475</td>
      <td>0.022898</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.010327</td>
      <td>0.010350</td>
      <td>0.005487</td>
      <td>0.026910</td>
      <td>0.006464</td>
      <td>0.000000</td>
      <td>0.019944</td>
      <td>0.000000</td>
      <td>0.010091</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.026182</td>
      <td>0.023283</td>
      <td>0.017979</td>
      <td>0.015131</td>
      <td>0.021635</td>
      <td>0.000000</td>
      <td>0.022263</td>
      <td>0.006955</td>
      <td>0.018572</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.032582</td>
      <td>0.011941</td>
      <td>0.005318</td>
      <td>0.008640</td>
      <td>0.022506</td>
      <td>0.020650</td>
      <td>0.002551</td>
      <td>0.000948</td>
      <td>0.013582</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009891</td>
      <td>0.024515</td>
      <td>0.012915</td>
      <td>0.009500</td>
      <td>0.019291</td>
      <td>0.005989</td>
      <td>0.003942</td>
      <td>0.008536</td>
      <td>0.016198</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.015345</td>
      <td>0.022770</td>
      <td>0.039588</td>
      <td>0.001075</td>
      <td>0.032553</td>
      <td>0.000207</td>
      <td>0.010668</td>
      <td>0.002108</td>
      <td>0.018196</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.002982</td>
      <td>0.005594</td>
      <td>0.001266</td>
      <td>0.000387</td>
      <td>0.000536</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.002398</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.014691</td>
      <td>0.011411</td>
      <td>0.012239</td>
      <td>0.029446</td>
      <td>0.018487</td>
      <td>0.000000</td>
      <td>0.015770</td>
      <td>0.000158</td>
      <td>0.013647</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.023782</td>
      <td>0.030195</td>
      <td>0.022622</td>
      <td>0.010016</td>
      <td>0.039921</td>
      <td>0.008570</td>
      <td>0.006494</td>
      <td>0.021234</td>
      <td>0.025266</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.036000</td>
      <td>0.021778</td>
      <td>0.029797</td>
      <td>0.023428</td>
      <td>0.015674</td>
      <td>0.000000</td>
      <td>0.015538</td>
      <td>0.104800</td>
      <td>0.030503</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.007273</td>
      <td>0.016817</td>
      <td>0.012577</td>
      <td>0.008769</td>
      <td>0.015942</td>
      <td>0.004337</td>
      <td>0.012523</td>
      <td>0.000632</td>
      <td>0.011872</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.011273</td>
      <td>0.028039</td>
      <td>0.019499</td>
      <td>0.021407</td>
      <td>0.026290</td>
      <td>0.021064</td>
      <td>0.004638</td>
      <td>0.007798</td>
      <td>0.021628</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.010255</td>
      <td>0.010829</td>
      <td>0.007766</td>
      <td>0.015217</td>
      <td>0.009712</td>
      <td>0.039752</td>
      <td>0.000696</td>
      <td>0.000211</td>
      <td>0.011178</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.007636</td>
      <td>0.015722</td>
      <td>0.007512</td>
      <td>0.004557</td>
      <td>0.009612</td>
      <td>0.003407</td>
      <td>0.000232</td>
      <td>0.000158</td>
      <td>0.009069</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009527</td>
      <td>0.016098</td>
      <td>0.006753</td>
      <td>0.011606</td>
      <td>0.017047</td>
      <td>0.006608</td>
      <td>0.001160</td>
      <td>0.003741</td>
      <td>0.012172</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.018182</td>
      <td>0.016167</td>
      <td>0.006077</td>
      <td>0.004900</td>
      <td>0.010617</td>
      <td>0.000000</td>
      <td>0.000464</td>
      <td>0.000053</td>
      <td>0.009997</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.017091</td>
      <td>0.021076</td>
      <td>0.022453</td>
      <td>0.052616</td>
      <td>0.008038</td>
      <td>0.081260</td>
      <td>0.109694</td>
      <td>0.004110</td>
      <td>0.026653</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.026836</td>
      <td>0.034420</td>
      <td>0.036887</td>
      <td>0.024373</td>
      <td>0.044208</td>
      <td>0.000000</td>
      <td>0.026670</td>
      <td>0.006165</td>
      <td>0.029016</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.026255</td>
      <td>0.013207</td>
      <td>0.007766</td>
      <td>0.010446</td>
      <td>0.006933</td>
      <td>0.007021</td>
      <td>0.014610</td>
      <td>0.000000</td>
      <td>0.010614</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.010836</td>
      <td>0.010538</td>
      <td>0.011817</td>
      <td>0.017281</td>
      <td>0.013396</td>
      <td>0.003098</td>
      <td>0.000928</td>
      <td>0.000000</td>
      <td>0.010232</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009891</td>
      <td>0.013652</td>
      <td>0.012239</td>
      <td>0.027726</td>
      <td>0.014301</td>
      <td>0.000207</td>
      <td>0.002783</td>
      <td>0.010643</td>
      <td>0.013911</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.012582</td>
      <td>0.016492</td>
      <td>0.014181</td>
      <td>0.008124</td>
      <td>0.006263</td>
      <td>0.000103</td>
      <td>0.040121</td>
      <td>0.003056</td>
      <td>0.011243</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.006836</td>
      <td>0.013823</td>
      <td>0.012915</td>
      <td>0.007652</td>
      <td>0.027228</td>
      <td>0.003717</td>
      <td>0.002783</td>
      <td>0.000263</td>
      <td>0.012336</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.009673</td>
      <td>0.018801</td>
      <td>0.012155</td>
      <td>0.012595</td>
      <td>0.011755</td>
      <td>0.000000</td>
      <td>0.009045</td>
      <td>0.003109</td>
      <td>0.012448</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.019055</td>
      <td>0.022428</td>
      <td>0.012155</td>
      <td>0.007824</td>
      <td>0.014100</td>
      <td>0.048838</td>
      <td>0.014842</td>
      <td>0.002582</td>
      <td>0.017079</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009091</td>
      <td>0.005577</td>
      <td>0.011480</td>
      <td>0.012423</td>
      <td>0.011186</td>
      <td>0.027775</td>
      <td>0.000000</td>
      <td>0.000843</td>
      <td>0.008786</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.001891</td>
      <td>0.002823</td>
      <td>0.003208</td>
      <td>0.004256</td>
      <td>0.002579</td>
      <td>0.003511</td>
      <td>0.000928</td>
      <td>0.000000</td>
      <td>0.002604</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.032073</td>
      <td>0.017107</td>
      <td>0.014687</td>
      <td>0.008296</td>
      <td>0.003818</td>
      <td>0.009499</td>
      <td>0.001855</td>
      <td>0.024237</td>
      <td>0.014587</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.023418</td>
      <td>0.015328</td>
      <td>0.019836</td>
      <td>0.015518</td>
      <td>0.004856</td>
      <td>0.000000</td>
      <td>0.002087</td>
      <td>0.005901</td>
      <td>0.012225</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.013527</td>
      <td>0.016184</td>
      <td>0.019414</td>
      <td>0.010876</td>
      <td>0.021903</td>
      <td>0.000000</td>
      <td>0.015074</td>
      <td>0.012909</td>
      <td>0.015157</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.012800</td>
      <td>0.010059</td>
      <td>0.009623</td>
      <td>0.016163</td>
      <td>0.003081</td>
      <td>0.011564</td>
      <td>0.000000</td>
      <td>0.000211</td>
      <td>0.008592</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.020582</td>
      <td>0.014131</td>
      <td>0.024310</td>
      <td>0.005674</td>
      <td>0.017214</td>
      <td>0.057821</td>
      <td>0.008117</td>
      <td>0.010696</td>
      <td>0.016697</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.019927</td>
      <td>0.021299</td>
      <td>0.017979</td>
      <td>0.011348</td>
      <td>0.015372</td>
      <td>0.011048</td>
      <td>0.009508</td>
      <td>0.006007</td>
      <td>0.015968</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.033673</td>
      <td>0.018100</td>
      <td>0.044568</td>
      <td>0.053003</td>
      <td>0.009846</td>
      <td>0.001239</td>
      <td>0.068182</td>
      <td>0.082460</td>
      <td>0.032013</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.012364</td>
      <td>0.010042</td>
      <td>0.012493</td>
      <td>0.007695</td>
      <td>0.004756</td>
      <td>0.000000</td>
      <td>0.006262</td>
      <td>0.003109</td>
      <td>0.007711</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.023927</td>
      <td>0.015020</td>
      <td>0.028362</td>
      <td>0.017152</td>
      <td>0.034964</td>
      <td>0.009293</td>
      <td>0.039657</td>
      <td>0.070077</td>
      <td>0.026900</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.008873</td>
      <td>0.018870</td>
      <td>0.023888</td>
      <td>0.019086</td>
      <td>0.010047</td>
      <td>0.044399</td>
      <td>0.045223</td>
      <td>0.031719</td>
      <td>0.020447</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.023273</td>
      <td>0.021025</td>
      <td>0.024226</td>
      <td>0.039763</td>
      <td>0.019793</td>
      <td>0.013629</td>
      <td>0.043367</td>
      <td>0.002898</td>
      <td>0.021898</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.022473</td>
      <td>0.035207</td>
      <td>0.024985</td>
      <td>0.017281</td>
      <td>0.056298</td>
      <td>0.004853</td>
      <td>0.035250</td>
      <td>0.011223</td>
      <td>0.030315</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.018764</td>
      <td>0.021487</td>
      <td>0.013590</td>
      <td>0.005932</td>
      <td>0.016779</td>
      <td>0.000000</td>
      <td>0.004870</td>
      <td>0.007693</td>
      <td>0.014581</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.012145</td>
      <td>0.016971</td>
      <td>0.013337</td>
      <td>0.006835</td>
      <td>0.033357</td>
      <td>0.001342</td>
      <td>0.004638</td>
      <td>0.005954</td>
      <td>0.015387</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.006182</td>
      <td>0.005902</td>
      <td>0.009707</td>
      <td>0.003654</td>
      <td>0.013028</td>
      <td>0.000000</td>
      <td>0.000464</td>
      <td>0.005480</td>
      <td>0.006612</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.011055</td>
      <td>0.015551</td>
      <td>0.010804</td>
      <td>0.038129</td>
      <td>0.016176</td>
      <td>0.000000</td>
      <td>0.022032</td>
      <td>0.008483</td>
      <td>0.016544</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009964</td>
      <td>0.006313</td>
      <td>0.004896</td>
      <td>0.015647</td>
      <td>0.005961</td>
      <td>0.000826</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.006547</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.009600</td>
      <td>0.004465</td>
      <td>0.006246</td>
      <td>0.013025</td>
      <td>0.011286</td>
      <td>0.001755</td>
      <td>0.000000</td>
      <td>0.002424</td>
      <td>0.006876</td>
    </tr>
  </tbody>
</table>