<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>METAL</th>
      <th>PAPER</th>
      <th>PLAS</th>
      <th>GLASS</th>
      <th>FOOD</th>
      <th>YARD</th>
      <th>TEXT</th>
      <th>OTHER</th>
      <th>TOTAL</th>
    </tr>
    <tr>
      <th>HHSIZE</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>0.050651</td>
      <td>0.111989</td>
      <td>0.012546</td>
      <td>0.039963</td>
      <td>0.048327</td>
      <td>0.017658</td>
      <td>0.002323</td>
      <td>0.216543</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.026052</td>
      <td>0.189629</td>
      <td>0.035321</td>
      <td>0.086673</td>
      <td>0.092184</td>
      <td>0.000000</td>
      <td>0.011523</td>
      <td>0.058617</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.046558</td>
      <td>0.173007</td>
      <td>0.039674</td>
      <td>0.081884</td>
      <td>0.080254</td>
      <td>0.004348</td>
      <td>0.009058</td>
      <td>0.065217</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.039622</td>
      <td>0.115718</td>
      <td>0.037129</td>
      <td>0.064550</td>
      <td>0.039097</td>
      <td>0.008266</td>
      <td>0.029651</td>
      <td>0.165967</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.026882</td>
      <td>0.156272</td>
      <td>0.039247</td>
      <td>0.113082</td>
      <td>0.112903</td>
      <td>0.002688</td>
      <td>0.009857</td>
      <td>0.039068</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.047945</td>
      <td>0.158904</td>
      <td>0.041324</td>
      <td>0.056849</td>
      <td>0.033333</td>
      <td>0.104566</td>
      <td>0.008219</td>
      <td>0.048858</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.044205</td>
      <td>0.156436</td>
      <td>0.019469</td>
      <td>0.011681</td>
      <td>0.202016</td>
      <td>0.001603</td>
      <td>0.013743</td>
      <td>0.050847</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.036229</td>
      <td>0.115892</td>
      <td>0.030952</td>
      <td>0.058961</td>
      <td>0.097625</td>
      <td>0.048305</td>
      <td>0.002131</td>
      <td>0.109905</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.034866</td>
      <td>0.241659</td>
      <td>0.051398</td>
      <td>0.029456</td>
      <td>0.066276</td>
      <td>0.001954</td>
      <td>0.012173</td>
      <td>0.062218</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.026590</td>
      <td>0.089758</td>
      <td>0.029544</td>
      <td>0.248593</td>
      <td>0.038407</td>
      <td>0.054305</td>
      <td>0.009285</td>
      <td>0.003517</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.036679</td>
      <td>0.146827</td>
      <td>0.032966</td>
      <td>0.036116</td>
      <td>0.104748</td>
      <td>0.007876</td>
      <td>0.004163</td>
      <td>0.130626</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.044166</td>
      <td>0.125747</td>
      <td>0.027009</td>
      <td>0.054682</td>
      <td>0.039739</td>
      <td>0.148882</td>
      <td>0.047044</td>
      <td>0.012730</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.030844</td>
      <td>0.228152</td>
      <td>0.032809</td>
      <td>0.046870</td>
      <td>0.081040</td>
      <td>0.011188</td>
      <td>0.006350</td>
      <td>0.062746</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.047826</td>
      <td>0.135266</td>
      <td>0.068116</td>
      <td>0.067150</td>
      <td>0.071014</td>
      <td>0.039614</td>
      <td>0.021256</td>
      <td>0.049758</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.033303</td>
      <td>0.072457</td>
      <td>0.022502</td>
      <td>0.058618</td>
      <td>0.079433</td>
      <td>0.069082</td>
      <td>0.002250</td>
      <td>0.162354</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.031082</td>
      <td>0.121426</td>
      <td>0.019271</td>
      <td>0.042064</td>
      <td>0.052217</td>
      <td>0.028388</td>
      <td>0.005595</td>
      <td>0.199959</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.032314</td>
      <td>0.147340</td>
      <td>0.039495</td>
      <td>0.023138</td>
      <td>0.023271</td>
      <td>0.195479</td>
      <td>0.005186</td>
      <td>0.033777</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.038116</td>
      <td>0.159523</td>
      <td>0.026181</td>
      <td>0.051206</td>
      <td>0.072382</td>
      <td>0.002823</td>
      <td>0.031699</td>
      <td>0.118070</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.041351</td>
      <td>0.176179</td>
      <td>0.018928</td>
      <td>0.182295</td>
      <td>0.056203</td>
      <td>0.000000</td>
      <td>0.025044</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.056962</td>
      <td>0.215348</td>
      <td>0.033703</td>
      <td>0.055696</td>
      <td>0.102215</td>
      <td>0.000000</td>
      <td>0.015190</td>
      <td>0.020886</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.096928</td>
      <td>0.151017</td>
      <td>0.013630</td>
      <td>0.043488</td>
      <td>0.145392</td>
      <td>0.043271</td>
      <td>0.002380</td>
      <td>0.003894</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.024673</td>
      <td>0.259978</td>
      <td>0.027758</td>
      <td>0.040094</td>
      <td>0.104499</td>
      <td>0.010522</td>
      <td>0.003084</td>
      <td>0.029390</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.034076</td>
      <td>0.214955</td>
      <td>0.075743</td>
      <td>0.004037</td>
      <td>0.156977</td>
      <td>0.000323</td>
      <td>0.007429</td>
      <td>0.006460</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.050245</td>
      <td>0.400735</td>
      <td>0.018382</td>
      <td>0.011029</td>
      <td>0.019608</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.043497</td>
      <td>0.143626</td>
      <td>0.031223</td>
      <td>0.147502</td>
      <td>0.118863</td>
      <td>0.000000</td>
      <td>0.014643</td>
      <td>0.000646</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.038032</td>
      <td>0.205280</td>
      <td>0.031170</td>
      <td>0.027099</td>
      <td>0.138637</td>
      <td>0.009653</td>
      <td>0.003257</td>
      <td>0.046871</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.047688</td>
      <td>0.122640</td>
      <td>0.034008</td>
      <td>0.052505</td>
      <td>0.045087</td>
      <td>0.000000</td>
      <td>0.006455</td>
      <td>0.191618</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.024752</td>
      <td>0.243317</td>
      <td>0.036881</td>
      <td>0.050495</td>
      <td>0.117822</td>
      <td>0.010396</td>
      <td>0.013366</td>
      <td>0.002970</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.021060</td>
      <td>0.222690</td>
      <td>0.031386</td>
      <td>0.067663</td>
      <td>0.106658</td>
      <td>0.027717</td>
      <td>0.002717</td>
      <td>0.020109</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.037066</td>
      <td>0.166404</td>
      <td>0.024185</td>
      <td>0.093060</td>
      <td>0.076236</td>
      <td>0.101209</td>
      <td>0.000789</td>
      <td>0.001052</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.034025</td>
      <td>0.297797</td>
      <td>0.028840</td>
      <td>0.034349</td>
      <td>0.093001</td>
      <td>0.010693</td>
      <td>0.000324</td>
      <td>0.000972</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.031627</td>
      <td>0.227185</td>
      <td>0.019314</td>
      <td>0.065186</td>
      <td>0.122887</td>
      <td>0.015451</td>
      <td>0.001207</td>
      <td>0.017141</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.073486</td>
      <td>0.277778</td>
      <td>0.021164</td>
      <td>0.033510</td>
      <td>0.093180</td>
      <td>0.000000</td>
      <td>0.000588</td>
      <td>0.000294</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.025910</td>
      <td>0.135832</td>
      <td>0.029327</td>
      <td>0.134950</td>
      <td>0.026461</td>
      <td>0.086770</td>
      <td>0.052150</td>
      <td>0.008600</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.037371</td>
      <td>0.203767</td>
      <td>0.044258</td>
      <td>0.057424</td>
      <td>0.133684</td>
      <td>0.000000</td>
      <td>0.011647</td>
      <td>0.011849</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.099945</td>
      <td>0.213732</td>
      <td>0.025471</td>
      <td>0.067276</td>
      <td>0.057309</td>
      <td>0.018826</td>
      <td>0.017442</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.042791</td>
      <td>0.176910</td>
      <td>0.040207</td>
      <td>0.115451</td>
      <td>0.114877</td>
      <td>0.008616</td>
      <td>0.001149</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.028728</td>
      <td>0.168568</td>
      <td>0.030629</td>
      <td>0.136248</td>
      <td>0.090199</td>
      <td>0.000422</td>
      <td>0.002535</td>
      <td>0.042670</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.045217</td>
      <td>0.251960</td>
      <td>0.043910</td>
      <td>0.049399</td>
      <td>0.048876</td>
      <td>0.000261</td>
      <td>0.045217</td>
      <td>0.015159</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.022392</td>
      <td>0.192473</td>
      <td>0.036446</td>
      <td>0.042401</td>
      <td>0.193664</td>
      <td>0.008576</td>
      <td>0.002859</td>
      <td>0.001191</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.031398</td>
      <td>0.259443</td>
      <td>0.033994</td>
      <td>0.069169</td>
      <td>0.082861</td>
      <td>0.000000</td>
      <td>0.009207</td>
      <td>0.013928</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.045079</td>
      <td>0.225568</td>
      <td>0.024776</td>
      <td>0.031315</td>
      <td>0.072436</td>
      <td>0.081383</td>
      <td>0.011012</td>
      <td>0.008431</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.041806</td>
      <td>0.109030</td>
      <td>0.045485</td>
      <td>0.096656</td>
      <td>0.111706</td>
      <td>0.089967</td>
      <td>0.000000</td>
      <td>0.005351</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.029345</td>
      <td>0.186230</td>
      <td>0.042889</td>
      <td>0.111738</td>
      <td>0.086907</td>
      <td>0.038375</td>
      <td>0.004515</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.088840</td>
      <td>0.201450</td>
      <td>0.035052</td>
      <td>0.038880</td>
      <td>0.022965</td>
      <td>0.018533</td>
      <td>0.001612</td>
      <td>0.092667</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.077404</td>
      <td>0.215385</td>
      <td>0.056490</td>
      <td>0.086779</td>
      <td>0.034856</td>
      <td>0.000000</td>
      <td>0.002163</td>
      <td>0.026923</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.036060</td>
      <td>0.183404</td>
      <td>0.044591</td>
      <td>0.049050</td>
      <td>0.126793</td>
      <td>0.000000</td>
      <td>0.012602</td>
      <td>0.047499</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.060192</td>
      <td>0.201094</td>
      <td>0.038988</td>
      <td>0.128591</td>
      <td>0.031464</td>
      <td>0.038304</td>
      <td>0.000000</td>
      <td>0.001368</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.049806</td>
      <td>0.145371</td>
      <td>0.050686</td>
      <td>0.023231</td>
      <td>0.090461</td>
      <td>0.098557</td>
      <td>0.006160</td>
      <td>0.035727</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.050423</td>
      <td>0.229113</td>
      <td>0.039198</td>
      <td>0.048583</td>
      <td>0.084468</td>
      <td>0.019691</td>
      <td>0.007545</td>
      <td>0.020979</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.042500</td>
      <td>0.097118</td>
      <td>0.048467</td>
      <td>0.113182</td>
      <td>0.026987</td>
      <td>0.001102</td>
      <td>0.026987</td>
      <td>0.143657</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.064787</td>
      <td>0.223704</td>
      <td>0.056402</td>
      <td>0.068216</td>
      <td>0.054116</td>
      <td>0.000000</td>
      <td>0.010290</td>
      <td>0.022485</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.035941</td>
      <td>0.095914</td>
      <td>0.036705</td>
      <td>0.043588</td>
      <td>0.114049</td>
      <td>0.009832</td>
      <td>0.018680</td>
      <td>0.145292</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.017534</td>
      <td>0.158523</td>
      <td>0.040673</td>
      <td>0.063811</td>
      <td>0.043116</td>
      <td>0.061799</td>
      <td>0.028025</td>
      <td>0.086519</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.042941</td>
      <td>0.164922</td>
      <td>0.038513</td>
      <td>0.124128</td>
      <td>0.079308</td>
      <td>0.017713</td>
      <td>0.025094</td>
      <td>0.007381</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.029953</td>
      <td>0.199496</td>
      <td>0.028693</td>
      <td>0.038969</td>
      <td>0.162951</td>
      <td>0.004556</td>
      <td>0.014734</td>
      <td>0.020648</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.051995</td>
      <td>0.253124</td>
      <td>0.032447</td>
      <td>0.027811</td>
      <td>0.100967</td>
      <td>0.000000</td>
      <td>0.004232</td>
      <td>0.029424</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.031895</td>
      <td>0.189458</td>
      <td>0.030176</td>
      <td>0.030367</td>
      <td>0.190222</td>
      <td>0.002483</td>
      <td>0.003820</td>
      <td>0.021581</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.037778</td>
      <td>0.153333</td>
      <td>0.051111</td>
      <td>0.037778</td>
      <td>0.172889</td>
      <td>0.000000</td>
      <td>0.000889</td>
      <td>0.046222</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.026998</td>
      <td>0.161456</td>
      <td>0.022735</td>
      <td>0.157549</td>
      <td>0.085790</td>
      <td>0.000000</td>
      <td>0.016874</td>
      <td>0.028597</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.061490</td>
      <td>0.165619</td>
      <td>0.026032</td>
      <td>0.163375</td>
      <td>0.079892</td>
      <td>0.003591</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.056410</td>
      <td>0.111538</td>
      <td>0.031624</td>
      <td>0.129487</td>
      <td>0.144017</td>
      <td>0.007265</td>
      <td>0.000000</td>
      <td>0.019658</td>
      <td>0.5</td>
    </tr>
  </tbody>
</table>