<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>METAL</th>
      <th>PAPER</th>
      <th>PLAS</th>
      <th>GLASS</th>
      <th>FOOD</th>
      <th>YARD</th>
      <th>TEXT</th>
      <th>OTHER</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
      <td>62.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.217742</td>
      <td>9.428065</td>
      <td>1.910806</td>
      <td>3.752097</td>
      <td>4.815968</td>
      <td>1.562097</td>
      <td>0.695484</td>
      <td>3.061129</td>
      <td>27.443387</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.091049</td>
      <td>4.168069</td>
      <td>1.065480</td>
      <td>3.108319</td>
      <td>3.297310</td>
      <td>2.917442</td>
      <td>0.960947</td>
      <td>4.518266</td>
      <td>12.457955</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.260000</td>
      <td>1.650000</td>
      <td>0.150000</td>
      <td>0.090000</td>
      <td>0.160000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.080000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.362500</td>
      <td>6.497500</td>
      <td>1.182500</td>
      <td>1.837500</td>
      <td>2.572500</td>
      <td>0.012500</td>
      <td>0.112500</td>
      <td>0.287500</td>
      <td>19.047500</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.975000</td>
      <td>9.300000</td>
      <td>1.645000</td>
      <td>2.980000</td>
      <td>4.240000</td>
      <td>0.370000</td>
      <td>0.390000</td>
      <td>1.160000</td>
      <td>25.305000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.007500</td>
      <td>12.312500</td>
      <td>2.605000</td>
      <td>4.820000</td>
      <td>6.202500</td>
      <td>1.270000</td>
      <td>0.677500</td>
      <td>3.335000</td>
      <td>36.485000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>4.950000</td>
      <td>20.580000</td>
      <td>5.280000</td>
      <td>17.670000</td>
      <td>16.810000</td>
      <td>14.700000</td>
      <td>4.730000</td>
      <td>19.890000</td>
      <td>54.470000</td>
    </tr>
  </tbody>
</table>